input {
    text-align: center;
    width: 12rem;
    height: 1.5rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    margin-bottom: 4px;
}

.input-hint {
    font-size: .8rem;
    color: var(--hint-color);
    font-weight: 500;
}